@{
    ViewData["Title"] = "SOStock";
}

<!-- HEAD -->
<head>
</head>

<!-- BODY -->
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Sostock</h1>
        <h2>A site where you can buy, sell and trade real world stocks.</h2>
    </div>

</body>

