@{
    ViewData["Title"] = "Register";
}
<br />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->

        <div class="fadeIn first" style="position:relative; top:-8px;">
            <img src="/images/usericon.png" height="30" width="30" id="usericon" />
        </div>

        <!-- Login Form -->
        <form class="form-horizontal" method="POST" asp-controller="Home" asp-action="Index">
            <!-- Username Input -->
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">

            <!-- Password Input -->
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">

            <!-- Login Button -->
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>


    </div>
</div>